* {
    margin: 0px;
    padding: 0px;

  }


body{
    margin: 0;
    padding: 0;
    background-color: rgba(182, 134, 142, 0.979);

}

.nav ul{
    list-style: none;
    background-color: rgba(182, 134, 142, 0.979);
    text-align: center;
    padding: 0;
    margin: 0;
    border-bottom: 5px solid #000000;
}


.nav li {
    display: inline-block;
}

.nav a {
    display: block;
    text-decoration: none;
    color: white;
    width:130px;
    display: block;
    padding: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s ;
}

.nav a:hover {
    background: black;
    background: linear-gradient(rgb(136, 134, 134),rgb(95, 93, 93),rgb(66, 64, 64), rgb(26, 24, 24), rgb(17, 16, 16), black);
    background: linear-gradient(to center, black);
    transition: 0.2s;
    border-bottom: 5px solid black;
}

h2, p{
    margin-top: 20px;
    text-align:center;
    color:  black;
  }
.content{
  
    display: flex;
    margin: 50px;
    overflow: hidden;
}

.map{
   margin-top: 33px;
    margin-left: 30px;
}
.form{
    margin-right: 30px;
}
#fname, #emailc, textarea {
    width: 650px;
    padding: 12px;
    background-color: #f2f3f4;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#submitc {
    background-color:  rgba(182, 134, 142, 0.979);
    border-radius: 1px;
    color: black;
    width: 100px;
    padding: 12px 20px;
    cursor: pointer;
}


label{
      color: black ;
}


@media screen and (max-width: 600px){


    .content{
  
        display: flex;
        flex-direction: column;
        margin: 50px;
        overflow: hidden;
    }

   
   
    #fname, #emailc, textarea {
     width: 400px;
     padding: 12px;
     background-color: #f2f3f4;
     margin-top: 6px;
     margin-bottom: 16px;
 
     }
    label{
        font-size: 15px;
        text-align: left;
        margin: 5px;
    }
    p{
        font-size: 15px;
        text-align: left;
        margin-left: 60px; 
    }
    .map{
        display: none;
    }
     .content{
  
       width: auto;
    }
 }