
/* footer */

footer{
    background:rgba(182,134,142,0.979);
    height: 333px;
    width: auto;  
    display: flex;
    justify-content: center;
    align-self: center;
}
.footer-content{
    display: flex;
    height: 300px;
    width: 90%;
}
.subscribe{
    margin-top: 50px;
    margin-left: 20px;
    height: 100px;
}
.subscribe #email{
    margin-top: 20px;
    background-color: #ffffff;
    color: black;
    height: 30px;
    width: 300px;
    border-radius: 25px;
    margin-bottom: 5px;
}
.subscribe #submit{
    height: 25px;
    margin-top: 10px;
    border-radius: 25px;
    background-color: white;
    width: 100px;
    color: black
}
.vl {
    margin: 50px ;
    border-left: 2px solid black;
    border-style: ridge;
    height: 200px;
  }
.quick-links{
    margin-top: 50px;  
}
.list1{
    margin-top: 30px;
    list-style: none;
    margin-right: 20px;
    text-align: left;
}

.quick-links ul li a{
   color: black;
    font-size: 20px;
    text-decoration: none;
}

.quick-links ul li a:hover{
    color: #ecd5d9;
   
 }
.quick-links a , .subscribe p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 18px;
}

.social ul li a{
    
   color: rgba(182,134,142,0.979);
   border-width: 2px;
    
    margin-top: 80px;
    margin-left: 70px;
    padding-top: 20px;
    
    height: 40px;
    border-radius: 20px;
}


.social ul li {
    list-style: none;
    margin-top: 24px;
}

.footer-bottom{
    font-size: 10px;
    height: 50px;
    text-align:center;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-top: 20px;
    width: 100%;
}

@media screen and (max-width: 1024px){
    .footer-content{
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: auto;
        background:rgba(182,134,142,0.979);
    }
    .social ul li{
       display: inline;
     
    }
    .social ul li a{
        margin:20px;
        height: auto;
        

    }
    .list1 li a{
        display: none
    }
    footer{
        height: auto;
    }
    .vl {
        display: none;
      
    }
   

}
@media screen and (max-width: 414px){
    .footer-content{
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: auto;
        background:rgba(182,134,142,0.979);
    }
    .social ul li{
        margin-right: 100px;
     
    }
    .social ul li a{
        margin-right:  100px;
        height: auto;
        

    }
    .list1 {
        margin-top: 100px;
        height: auto;

    }
    footer{
        height: auto;
    }
}

