*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container{
  
    margin: 0 auto;
    font-size: 1vmax;
}
.container{
   
    display: block;
}
.title{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
 margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.review{
    margin: 0 1rem;
    min-width: 300px;
    flex: 1;
}

.head-review{
    margin: 1.75rem auto;
    width: 150px;
    height: 150px;
}
.head-review img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px rgba(0, 0, 0, .25);
}
.body-review{
    background-color: rgb(238, 238, 238);
    padding: 2.5rem;
    box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);

}
.name-review{
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
    margin-bottom: .25rem;
}
.place-review{
    color: RED;
    font-style: italic;
}
.rating{
    color: rgb(253, 180, 42);
    margin: 1rem 0;
}
.desc-review{
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: rgb(150, 150, 150);
}


 @media screen and (max-width: 1024px){

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.head-review{
 
    width: 100px;
    height: 100px;
}
.head-review img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px rgba(0, 0, 0, .25);
}
.body-review{
    background-color: rgb(238, 238, 238);
  
    box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
    width: 500px;

}
.name-review{
    font-size: 1rem;
    color: rgb(50, 50, 50);
 
}
.place-review{
    color: RED;
    font-style: italic;
    font-size: 15px;
}
.rating{
    color: rgb(253, 180, 42);
    margin: 1rem 0;
}
.desc-review p{
   font-size: 15px;
    letter-spacing: 1px;
    color: rgb(99, 99, 99);
}
 
} 