* {
    margin: 0px;
    padding: 0px;

  }
.main-container{
    width: 1340px; 
    margin: 0 auto;
    font-size: 1vmax;
}
.container{
    border: 3px solid #b6868e;
    border-style: ridge;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
form{
    margin: 70px 0px;
    
}
input{
    width: 300px;
    padding: 12px;
    background-color: #f2f3f4;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 15px;
}
label{
    color: black;
    font-weight: bolder;
    font-size: large;
}
#submit{
    background-color:rgba(182, 134, 142, 0.979);
    border-radius: 35px;
    color: black;
    width: 100px;
    padding: 12px 20px;
    cursor: pointer;

}
#submit:hover {
    background-color: white;
}