* {
	margin: 0px;
	padding: 0px;
}


body{
    margin: 0;
    padding: 0;
}
button {
	font-family: 'Poppins', sans-serif;
}

body{
   
    background-color: #ecd5d9;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.main-container{
 
    font-size: 1vmax;
    
}

.main{
    background-color: #ecd5d9;
    display: flex;
    padding: 0;
    border-bottom: 1.5px solid #000000;
}

.logo-container {
    display: flex;
}

.links{  
    width: 888px;
  height: 20px;
    margin-top: 11px;
    
    justify-content: center;
    align-items: center; 
    
}
.links ul{
   
    display: flex;
    list-style: none;
}
.links ul li{
    width: 400px;
    height: 50px;
    list-style: none;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    
}
.links ul li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid transparent;
    transition: 0.4s ease-in;
    
  
}





.links ul li  {
    position: relative;
  display: inline-block;

}
 
.links ul li:hover{
    background-color: rgb(182,134,142,0.979);
    color: black;
  
  text-decoration: none;
  display: inline-block;
  
}


@media screen and (max-width: 1024px){
     .main {
        
       flex-direction: column;
        height: auto;
        display: flex;
       
    }
    .logo-container{
        margin-left: 100px;
        display: flex;
    }
    .links {
        flex-direction: column;
        text-align: center;
        height: auto;
        display: flex; 
      
    }
    .links ul {
        flex-direction: column;
        text-align: center;
        height: auto;
        display: flex;
   
        
    }

    
    
}

