* {
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
button {
	font-family: 'Poppins', sans-serif;
}


body{
    background-color: #ecd5d9;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}


.logo-container,
.nav-links {
	display: center;
}


.logo-container {
    display: center;
    margin: 30px 0px 30px 0px
}

.logo {
	font-weight: 400;
	margin: 5px;
}

nav {
	flex: 2;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
}
.nav-link {
	color: #5f5f79;
	font-size: 18px;
	text-decoration: none;
}
.input{
    height: 20px;
    width: 210px;
    border-radius: 50px;
}
ul{
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li{
    width: 200;
    height: 34;
    background-color:none;
    line-height: 40px;
    text-align: center;
    font-size: 13px;
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: 0.4s ease-in;
}

ul li a:hover{
    background-color: rgba(182, 134, 142, 0.979) ;
    border-radius: 50px;
}

ul li ul li {
    display: none;
}

ul li:hover ul li{
    display: block;
}

.logo img{
   float: center; 
  
} 
.figcaption{
    
    margin: 50%;
}