*{
    margin: 0;
    padding: 0;
}
.main-container{
   
    margin: 0 auto;
    font-size: 1vmax
}
.content{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog{
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.design1{
    background-color: #ecd5d9;
    border: 4px solid rgba(182, 134, 142, 0.979);
    width: 800px;
    display: flex;
    flex-direction: column;
}

h1{ width: 100%;
    text-align: center;
    text-decoration: black;
    margin-top:15px;
    color:rgba(182,134,142,0.979);
    letter-spacing: .3em;
    font-size:2.7vw;
    font-weight: bolder;
    text-transform: uppercase;
}
p{
    font-size: 15px;
    margin: 20px;
    font-family: sans-serif;
}
#button1, #button2{
    text-align: center;
    background: rgba(182, 134, 142, 0.979);
    width: 111px;
    height: 30px;
    cursor: pointer;
    font-size: 12px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 200px ;
    border-radius: 1px;
    align-items: center;
}


.image1{
    height: 400px;
    width: 550px;
    margin: 20px;
}

.design2{
    background-color: white;
    border: 2px solid black;
    width: 890px;
    display: flex;
  
    margin-bottom: 20px;
}
.image2{
    height: 300px;
    width: 450px;;
    margin: 20px;
}

.links #product_link2 {
    display: flex;
    margin: 50px 20px;
    justify-content: center;
}
.links #product_link2 a{
    color: rgba(109, 71, 77, 0.979);
    font-size: 20px;
    text-decoration:black;
    font-weight: 600;
   text-align: center;
}
#button1 a, #button2 a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}


#product_link1{
    margin: 20px;
}
#product_link1 a{
    color: rgba(109, 71, 77, 0.979);
    font-size: 20px;
    text-decoration:black;
    font-weight: 600;
    text-align: center;
    margin-left: 200px;
}

