
/* Slick Slider */


body {
    margin: 0;
   padding: 0;
   height: 100%;
     font-family: sans-serif;
   background: #ecd5d9
 }

 h1 {
  
  width: 100%;
   text-align: center;
   margin-top:50px;
   color:rgba(182,134,142,0.979);
  
   letter-spacing: .3em;
   font-size:3.5vw;
   font-weight: normal;
   
   text-transform: uppercase;
   
 }
 section {
     width: 60%;
     margin: 70px auto;
 }
 
 /* Bubble Slider */
 
 .bubble blockquote {
     margin: 10px 10px 0;
     margin-top: 40px;
     background: #fff;
     padding: 60px;
     position: relative;
     border: none;
     border-radius: 8px;
     font-size: 1.25em;
     color:black;
 }
 .bubble blockquote:before, .bubble blockquote:after {
     content: "\201C";
     position: absolute;
     font-size: 80px;
     padding: 10px;
     line-height: 1;
     color: rgba(182,134,142,0.979);
 }
 .bubble blockquote:before {
     top: 0;
     left: 10px;
 }
 .bubble blockquote:after {
     content: "\201D";
     right: 10px;
     bottom: -.5em;
 }
 .bubble div {
     width: 0;
     height: 0;
     border-left: 0 solid transparent;
     border-right: 20px solid transparent;
     border-top: 20px solid #fff;
     margin: 0 0 0 60px;
     margin-bottom: 20px;
 }
 .bubble cite {
     padding-left: 20px;

     font-size: 1.25em;
   color: black;

 }
 
 
 
 