* {
	margin: 0px;
	padding: 0px;
}


body{
    margin: 0;
    padding: 0;
}


body{
   
    background-color: #ecd5d9;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
    
}
.main-container{
 
    margin: 0 auto;
    font-size: 1vmax;
    
}

.main{
    background-color: rgba(182, 134, 142, 0.979);
    display: flex;
    padding: 0;
    border-bottom: 1.5px solid #000000;
}


.links{  
    width: 600px;
   
    margin-top: 15px;
    justify-content: center;
    align-items: center; 
    
}
.links ul{
    display: flex;
    list-style: none;
}
.links ul li{
    list-style: none;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    
}
.links ul li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid transparent;
    transition: 0.4s ease-in;
    
  
}



.links ul li a:hover{
    background-color:#ecd5d9;
    opacity: 100%;
color: black;
}


.links ul li  {
    position: relative;
  display: inline-block;
}

.links ul li ul li {
    display: none;
    position: relative;
    z-index: 1;
}


 
.links ul li ul li a{
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
  
}

.links ul li:hover ul li{
    display: inline-block;
 
}

.search{
    width: 250px;
    margin-top: 30px;
    margin-right: 40px;
  
}
#form{
    display: flex;
}

.logout{  
    margin-top: 15px;
    justify-content: center;
    align-items: center; 
}
.logOut {
    display: center;
    background: rgba(182, 134, 142, 0.979);
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-size: 12px;
    color: black;
    margin: 6px 0px 0px 60px;
    border-radius: 1px;
}

.hamburger{
    display: none;
}


@media only screen and (max-width: 1024px){
   


    .hamburger{
        
        font-size: 30px;
        display: block;
        margin: 20px;
         
    }
    .icon{
        color: black;
        background-color: #ecd5d9;
        font-size: 30px;
        border: none;
    }
    .none{
        display: none;  
    }
    
    .logo-container{
        display: none;  
    }
  
    .main{
        display: flex;
        flex-direction: column;
    }

    .links{  

        height: 20px;
        margin: 11px 0px;
        justify-content: center;
        align-items: center; 
        
    }
    .links ul{ 
        display: flex;
        list-style: none;
    }
    .links ul li{
        width: 100px;
        height: 30px;
        list-style: none;
        text-align: center;
        font-size: 15px;
        display: inline-block;
        
    }
    .links ul li a{
        text-decoration: none;
        color: black;
        display: block;
       
        margin: 5px;
        border: 1px solid transparent;
        transition: 0.4s ease-in;
 
    }
    .main{
        background-color: #ecd5d9;
        display: flex;
        padding: 0;
        border-bottom: 1.5px solid #ecd5d9;
    }
    .search{
      margin-left: 30px;
      
    }
    
   
}