

.title{
    width: 100%;
   text-align: center;
   margin-top:15px;
   color:rgba(182,134,142,0.979);
  
   letter-spacing: .3em;
   font-size:2.0vw;
   font-weight: normal;
   
   text-transform: uppercase;
   
}

footer .gallery h1 {
    margin-left: 10px;
    font-size: 42px;
    text-align: center;
}

footer .gallery p {
    color: #646060;
    padding-left: 30px;
    
}

footer .gallery button {
    
    border-radius: 0px;
    background-color: rgb(182,134,142,0.979);
    height: 30px;
    width: 140px;
    color: white;
margin-top: 10px;
    margin-right: 600px;
    margin-left: 600px;
    margin-bottom: 30px;

}

footer .square-container {
    margin-top: 15px;
    margin-right: 200px;
    margin-left: 140px;
    display: flex;
    flex-direction: column;
}

footer .square-container .side-part {
    display: flex;
}


footer .square-container .side-part .square {
    height: 200px;
    width: 200px;
    background-color: rgb(71, 71, 71);
    margin: 8px;
    margin-left: 44px;
    margin-bottom: 20px;
}

footer .square-container .side-part{
    height: 100%;
    filter: drop-shadow(3px 3px 3px rgb(182,134,142,0.979));
    
}

