
footer{
    margin-bottom: 0px;
}

.footer-bottom #p1 {
    color: black;
    font-size: 9px;
    margin-top: 15px;
    float: left;
    margin-left: 555px;
    margin-bottom: 0px;
}



.footer-bottom {

    background:rgb(182,134,142,0.979);
    height: 40px;
    display: block;
    margin-top: 0px;
}

#footer-menu ul{
    margin-left: 250px;
}

#footer-menu ul li {
   
    display: inline-block;
    position: relative;
    margin: 20px;
}

    #footer-menu ul li a {
    font-size: 13px;
    }


    #footer-menu ul li a:hover {
        color: white;
        }
    #footer-menu {
        background:rgb(182,134,142,0.979);
        height: 70px;
        display: block;
        margin-top: 111px;
    }
    
    #footer-menu ul li a{
        align-items: center;
        display: block;
        text-decoration: none;
        color: black;
        display: block;
        padding-left: 5px;
        padding-left: 50px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
    }

    @media screen and (max-width: 1024px){



            .footer-menu {
                flex-direction: column;
                height: auto;
                text-align: center;
                display: flex;
            }

            .footer-bottom #p1{
                flex-direction: column;
                height: auto;
                text-align: center;
                display: flex;
                
            }
             .footer-bottom {
                flex-direction: column;
                height: auto;
                text-align: center;
                display: flex;
            }
    }
