* {
    margin: 0px;
    padding: 0px;

  }

  
  .title{
    width: 100%;
   text-align: center;
   margin-top:15px;
   color:rgba(182,134,142,0.979);
  
   letter-spacing: .3em;
   font-size:2.0vw;
   font-weight: normal;
   
   text-transform: uppercase;
   
}
.main-container{
   
   
    margin: 0 auto;
    font-size: 1vmax;
  
}
.content{
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    background-color: white;
    border: 1px solid black;
    margin: 50px;
    width: 40%;
}
  
th {
    background-color:rgb(182,134,142,0.979);
    color: white;
    height: 30px;
    
}
td {
    height: 30px;
    vertical-align: bottom;
    text-align: center;
}
th, td {
    padding: 5px;  
}

tr:hover {background-color: #f5f5f5;}


button {
    border-radius: 0px;
    background-color: rgb(182,134,142,0.979);
    height: 40px;
    width: 200px;
    color: white;
    margin-top: 10px;
    margin-right: 600px;
    margin-left: 600px;
    margin-bottom: 30px;

}

@media only screen and (max-width: 1024px){
    th, td {
        font-size: 12px;
    }
}